header {
    background-color: #BBBBBB;
    padding: 20px 0;                /*La propiedad padding establece el área de relleno en los cuatro lados del elemento a la vez*/
}

.caja {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

.caja nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{                             /*Se puede definir lo que se desea modificar basandose en las etiquetas utilizadas en HTML, de esta forma el código se vuelve más especifico y entendible*/
    display: inline;                /*Se define como se desea mostrar*/
    margin: 0 0 0 15px;             /*Se define el margen, arriba derecha abajo izquierda*/
}

nav a {
    text-transform: uppercase;     /*Transforma el texto, en este caso todo en mayúsculas*/
    color: #000000;              /*Designa el color*/
    font-weight: bold;             /*Se coloca el texto en negritas*/
    font-size: 22px;               /*Se altera el tamaño del texto*/
    text-decoration: none;         /*Se indica la decoración del texto, en este caso se elimina el subrayado*/
}

nav a:hover{                        /*es una pseudo-clase que coincide cuando el usuario interactúa un elemento con un dispositivo señalador, pero no necesariamente lo activa, es decir, se activa cuando el usuario se desplaza sobre un elemento con el cursor*/
   color: #C78C19;
   text-decoration: underline;
   font-size: 25px;
}

footer {
    text-align: center;
    background: url(imagenes/bg.jpg);   /*Con el valor url se puede referenciar el background a una imagen, ya se encuentre en el sistema o en internet*/
    padding: 40px 0;
}

.Copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron  {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: red;
    transform: scale(1.2);
}

table {
    margin: 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    padding: 8px 15px;
}


@media screen and (max-width:980px) {
    h1 {
        text-align: center;
    }

    .caja nav{
        position: static;
        text-align: center;
    }
    
    .caja, .principal, .productos, main {
        width: auto;
    }

    .productos li {
        width: auto;
        margin: 15px 0;
        
    }
}

